:root{
    --primary-color:#FF42A5;
    --black-texts-color:#0B0223;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

body{
    background-color: #FFF;
}

/* Shared Styles Starts */

.gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-color{
    color: var(--primary-color);
}

li{
    list-style: none;
}

.primary-btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 48px;
    border: none;
    color: #FFF;
}

.less-width{
    width: 75%;
    margin: auto;
}

.section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.section-description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem; 
    margin-bottom: 2rem;
}

/* Navbar Styles Starts */

nav{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-logo{
    height: 2.8rem;
}

.nav-logo>h1{
    padding-left: 1.25rem;
}

.menu-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: #3C354F;
    font-size: 1.125;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125;
    font-weight: 500;
}

.nav-btn {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(11, 2, 35, 0.10);;
}

.nav-btn>i{
    padding-left: 1rem;
}

/* Banner Styles Starts*/

.banner{
    background-image: url('../images/banner-txt-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.banner-contents{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-text , .banner-image{
    width: 50%;
}

.banner-pretitle{
    color: var(--black-texts-color);
    font-size: 3rem;
    font-weight: 600;
}

.banner-title{
    font-size: 6rem;
    font-weight: 800;
}

.banner-list{
    padding: 1rem 0;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}


.banner-btn{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    background-color: #4EC5F7;
    border-radius: 48px;
    border: none;
}

.banner-image>img{
    width: 100%;
}

/* About Us Section Starts*/

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-text{
    width: 45%;
    text-align: right;
}

.about-image > img{
    width: 100%;
}


/* Online Games Videos Styles starts*/
.games-videos{
    text-align: center;
    padding: 40px 0px;
}

.vids-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.hover-view{
    color: #F948B2;
}

.darkoverlay{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: #F948B2 solid 1px;
    border-radius: 10px;
    background-color: #00000050;
    width: 100%;
    height: calc(100% - 12.7ex);
    z-index: 1;
    top: 0;
}

.vids-description{
    height: 7ex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vids{
    position: relative;
}

.vids:hover .darkoverlay{
    display: flex;
}

.vids>img{
    width: 100%;
}


/* Online Games Section starts*/

.online-games-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.online-games-text{
    width: 40%;
    padding-right: 3rem
}

.online-games-images{
    width: 60%;
    position: relative;
}

.online-games-image1 > img{
    width: 80%;
}

.online-games-image2{
    position: absolute;
    left: -20%;
    bottom: -10%;
}

.online-games-image2 > img{
    width: 50%;
}

/* Categories section starts */

.categories{
    margin-top: 200px;
}

.cat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    gap: 1.25rem;
}

.cats{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.cats>h3{
    font-size: 1.125rem;
    color: #534C64;
    font-weight: 400;
}


/* Footer Section Starts */

.footer-container{
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    gap: 2rem;
}

.white{
    color: #FFF;
}

.footer-links , .fa-brands{
    color: #FFF;
}

.footer-links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imp-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.imp-links , .footer-container p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

/* Styles for Mobiles*/
@media (max-width: 576px) {

    html{
        font-size: 55%;
    }

    .less-width{
        width: 90%;
        margin: auto;
    }

    .nav-container , .menu-items, .banner-contents, .online-games-container{
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    nav{
        padding: 1.5rem;
    }

    .banner{
        background-image: none;
    }

    .banner-contents{
        flex-direction: column-reverse;
        height: auto;
    }

    .banner-text , .banner-image{
        width: auto;
    }

    .banner-text{
        background-image: url('../images/banner-txt-bg.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .about-container{
        flex-direction: column;
    }

    .vids-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-text, .online-games-text{
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .online-games-images{
        width: 100%;
    }

}

/* Styles for Tablets*/
@media (min-width: 577px) and (max-width: 991px) {

    html{
        font-size: 66%;
    }

    .less-width{
        width: 85%;
        margin: auto;
    }

    .nav-container , .banner-contents, .online-games-container{
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    nav{
        padding: 1.5rem;
    }

    .banner{
        background-image: none;
    }

    .banner-contents{
        flex-direction: column-reverse;
        height: auto;
    }

    .banner-text , .banner-image{
        width: auto;
    }

    .banner-text{
        background-image: url('../images/banner-txt-bg.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .about-container{
        flex-direction: column;
    }

    .vids-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-text, .online-games-text{
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .online-games-images{
        width: 100%;
    }
}