*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/*this is the header section*/

.header-container{
  
    height: 90px;
    background-color: #FCFBFE;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.span{
    color: #FF42A5;
}
.logo-contain{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-left: 32px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
#Follow{
    padding: 10px 20px;
    background-color: #E7E6E9;
    border-radius: 8px;
}


/*this is the banner section*/
.banner-container{
    
    height: 80vh;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 40px; 
}
.banner-contain{
     padding: 80px;
      margin-top: 90px;
  
      
   
}
li{
    list-style: none;
}
.banner-titel{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.primary-p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;

}
.banner-image img{
    width: 600px;
    background-position: bottom;
}
.primary-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FF42A5;
    margin-top: 20px;
    border: 0;
}
.btn1{
    background-color: #4EC5F7;
}
.banner-color{
    color: #a849df;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
/*this is we are gamer section*/
.gamer{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    background-color:  #fbedf4;
}
.gamer-block{
    text-align: right;
    padding-right: 120px;
    margin-top: 90px;
}
.we{
    color: #F948B2;
}

/* this is online game section */



.online-game-section {
    text-align: center;
    padding: 100px;
}

.online-game-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.online-game-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-description {
    color: #534C64;
    font-size: 1.15rem;
}

.online-game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.online-game-content {
    width: 25%;
    height: 400px;
    text-align: left;
    margin-top: 50px;

}

.online-content-img img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

online-content-title p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.online-img {
    position: relative;
    text-align: center;
}

.online-img>img {
    background-color: black;
    opacity: 0.4;
    pointer-events: none;
    border-radius: 16px;
}

.online-img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*thia is the play instantly secton*/
.Play-Instantly-container{
    display: flex;
    padding: 80px 120px;
    gap: 200px;
    
}
.Play-Instantly-contain{
    width: 50%;
    text-align: center;
    margin-top: 120px;
  
}
.Play-Instantly-image{
    width: 50%;
    
    
}
.Play-Instantly-image img {
    width: 480px;
}
.image-2 img{
    width: 250px;
    position: relative;
    bottom: 170px;
    right: 85px;
}
/* this is button section */
.button-container{
    height: 30vh;
   margin-left: 80px;
   margin-top: 0;
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.button-part1{
    display: flex;
    margin-bottom: 25px;
   
}
.button-part1 div{
    display: flex;
    align-items: center;
    margin-right: 50px;
    background: white;
    border-radius: 50px;
    padding: 5px;
}
.button-part1 div:hover{
    border: 1px solid skyblue;
}
.button-part2{
    display: flex;
}
.button-part2 div{
    display: flex;
    align-items: center;
    margin-left: 50px;
    background: white;
    border-radius: 50px;
    padding: 5px;

}
.button-part2 div:hover{
    border: 1px solid skyblue;
}

/* this is footer container */
footer{
    height: 80vh;
    background-color: #0B0223;
}

.footer-container{
   
    display: flex;
    align-items: center;
    margin-left: 480px;
    text-align: center;
    
   
    
}
.footer-titel{
    
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.footer-conatain{
    display: flex;

}
 .footer-conatain div{
    margin-top: 66px;
} 
.menu2 li{
   
    color: white;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 65px;
}
.menu3 li{
    margin-top: 66px;
    margin-bottom: 66px;
}
.icon{
    display: flex;
  margin-left: 400px;
    font-size: 30px;
    margin-top: 65px;

}

 #last-titel{
    color: rgb(255, 255, 255); 
} 


@media screen and (max-width: 576px) {

    .header-container
    {
        flex-direction: column;
        margin-top: 50px;
    }
    .menu{
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 500px;
        text-align: center;
    }
     

    
}








